.navbar_mobile {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}
.navbar_menu_mobile {
  position: fixed;
  left: 0px;
  height: 200vh;
  width: 100vw;
  background-color: yellow;
  z-index: 120;
}
