@import "../../../../index.scss";

.btn {
  width: 163px;
  height: 67px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba($color_5, 0.7),
    rgba($color_6, 0.7)
  );
  border: none;
  border-radius: 44.16px;

  &_text {
    font-size: 30px;
    color: $color_black;
  }
  a {
    text-decoration: none;
  }
}
