@import "../../../../index.scss";

.hero_section {
  width: 80%;
  height: 600px;
  margin-top: 7%;
  margin-bottom: 5%;

  &-text {
    font-size: 112px;
    font-weight: 500;
    @include text_color_white;
  }
  .cursor {
    background: linear-gradient(to bottom, #ffdb58, #ffc800);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
  }

  .hero_section-text {
    position: relative;
    margin-bottom: 5%;
    .svg_arrow {
      z-index: 3;
      position: absolute;
      top: 80px;
      left: -55px;
    }
    .web {
      @include text_color_yellow;
    }
  }
  .sliding_text_container {
    width: 50%;
    font-size: 18vh;
    white-space: nowrap;
    color: $color_5;
    opacity: 0.18;
  }
}

@media screen and (max-width: $tablet_screen) {
  .hero_section {
    width: 80%;
    height: 580px;
    margin-top: 6%;
    margin-bottom: 5%;

    &-text {
      font-size: 96px;
    }
    .cursor {
      display: none;
    }

    .hero_section-text {
      margin-bottom: 3%;
      .svg_arrow {
        top: 70px;
        left: -80px;
      }
    }
    .sliding_text_container {
      width: 50%;
      font-size: 13vh;
    }
  }
}

@media screen and (max-width: $smaller_tablet) {
  .hero_section {
    width: 80%;
    height: 580px;
    margin-top: 5%;
    margin-bottom: 1%;

    &-text {
      font-size: 88px;
    }
    .cursor {
      display: none;
    }

    .hero_section-text {
      margin-bottom: 3%;
      .svg_arrow {
        top: 60px;
        left: -90px;
      }
    }
    .sliding_text_container {
      width: 50%;
      font-size: 12vh;
    }
  }
}

@media screen and (max-width: $tabletMobile_screen) {
  .hero_section {
    width: 80%;
    height: 540px;
    margin-top: 5%;
    margin-bottom: 1%;

    &-text {
      font-size: 80px;
    }
    .cursor {
      display: none;
    }

    .hero_section-text {
      margin-bottom: 3%;
      .svg_arrow {
        display: none;
      }
    }
    .sliding_text_container {
      width: 50%;
      font-size: 10vh;
    }
  }
}

@media screen and (max-width: $largeMobile_screen) {
  .hero_section {
    width: 80%;
    height: 370px;
    margin-top: 8%;
    margin-bottom: 1%;

    &-text {
      font-size: 54px;
    }
    .cursor {
      display: none;
    }

    .hero_section-text {
      margin-bottom: 3%;
      .svg_arrow {
        display: none;
      }
    }
    .sliding_text_container {
      display: none;
    }
  }
}

@media screen and (max-width: $small_screen) {
  .hero_section {
    width: 90%;
    margin-top: 15%;
    height: 60vh;
    &-text {
      font-size: 50px;
      font-weight: 500;
      @include text_color_white;
    }

    .hero_section-text {
      position: relative;
      margin-bottom: 10%;
      .svg_arrow_mobile {
        z-index: 5;
        position: absolute;
        top: 12%;
        left: -4.5%;
      }
    }
    .sliding_text_container {
      display: block;
      width: 50%;
      font-size: 9vh;
      white-space: nowrap;
      color: $color_5;
      opacity: 0.18;
    }
  }
}
